* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: sans-serif;
    height:100vh;
    --nav-height: 80px;
}
/*Page index avec image en fond d'ecran de la Crète*/

.nav-listindex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;  
    transition: transform 0.8s;
    height: var(--nav-height);
}

.nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
  }
  
/*Barre de navigation*/

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    margin-right: 2rem;
    font-weight: 600;
}

.nav-item a {
    color: black;
    letter-spacing: 1.2px;
}

/*Survol des liens*/

.nav-item a:hover {
    color: blue;
    text-decoration: underline;
}


.nav-barmobile {
    display: none;
}
.nav-barmobile i {
    font-size: 50px;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 9999;
}

/*menu burger*/

.nav-listmobile {
    position: fixed;
    top: -50vh;
    left: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: black;
    transition: top 1s;
}

.nav-listmobile a {
  color: aqua;
  font-weight: 100;  
}

.list-visible {
    top: 0;
}

.icon-visible {
    color: aqua;
}


/*1ère page index*/

h1 {
    text-align: center;
    margin: 20px;
}

.container {
    display:flex;
    align-items:center;
    margin: 30px;
}

.img1 {
    height: 150px;
    width: 100%;
    text-align: center;
}

.img1 img {
    width: 50%;
}

.img2 {
    height: 160px;
    width: 100%;
    text-align: center;
}

.img2 img {
    margin-top: 35px;
    width: 60%;
}

.img3 {
    text-align: center;
    height: 105px;
    width:  100%;
    margin-bottom: 35px;
}

.img3 img {
    width: 40%;
}

/*Lieux à Visister*/

.lieux {
    margin-top: 50px;
    margin-bottom: 50px;
}

.lieux h2 {
    text-align: center;
    margin-bottom: 80px;
}
.blu {
    text-align: center;
}
.flexbox {
    display: inline-flex;
    justify-content: space-between;
    flex: 1 1;
}

.flex1 {
    display: flex;
    margin-left: 15px;
    width: auto;
    height: 184px;
    margin-bottom: 15px;
}

.flex2 {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
    width: auto;
    height: 130px;
}
p {
    margin-left: 10px;
    text-align: center;
}
.flex3 {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
    width: auto;
    height: 180px;
}

.flex4 {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
    width: auto;
    height: 165px;
}

h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.flexbox2 {
    background-color: rgb(232, 238, 238);
    margin: 60px;
    border-radius: 20px;
}

.flex2_1 {
    display: flex;
    height: 120px;
    width: auto;
    margin-left: 30px;
    border-radius: 20px;
    margin-right: 30px;
}

p {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 10px;

}

.flex2_2 {
    display: flex;
    height: 140px;
    width: auto;
    margin-left: 30px;

}

.flex2_3 {
    display: flex;
    height: 160px;
    width: auto;
    margin-left: 30px;
}

/*Page randonées*/

.rando {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.rando1 h2 {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
}

.Flexbox_A {
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flexboxA_1 {
    display: flex;
    margin-left: 15px;
    width: auto;
    height: 140px;
    margin-bottom: 15px;
}


.flexboxA_2 {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
    width: auto;
    height: 130px;
}

.flexboxA_3 {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
    width: auto;
    height: 188px;
}

.flexboxA_4 {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
    width: auto;
    height: 168px;
}

h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Flexbox_B {
    background-color: rgb(232, 238, 238);
    margin: 60px;
    margin-top: 200px;
    border-radius: 20px;
    height: 300px;
    width: 60%;
}


/*Page spcécialités*/

.spécialités {
    margin-top: 50px;
    margin-bottom: 50px;
}

.spécialités h2 {
    text-align: center;
    margin-bottom: 80px;
}

.spécialités p {
    text-align: left;
}

.flexbox_c1 {
    display: flex;
    margin-left: 15px;
    width: 60%;
    height: 210px;
    margin-bottom: 15px;
    
}

.flexbox_c2 {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 60%;
    height: 200px;
}

.flexbox_c3 {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 60%;
    height: 180px;
}

.flexbox_c4 {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 60%;
    height: 180px;
}


/* Section mise en forme Contact Us */

h2 {
    margin-top: 20px;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 300px;
    padding-top: 20px;
  }
  
  label {
    line-height: 2;
  }
  
  /* Section texte et bouton submit */

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    width: 100%;
    background: rgb(88, 85, 85);
    color: white;
    border: none;
    padding: 5px 10px;
  }

  /*Footer des pages avec lien social*/

.footer {
    background-color: rgb(88, 85, 85);
    margin-top: 106px;
}
    
.footer .social {
    text-align: center;
}

.footer .social a {
    display: inline-block;
    justify-content: space-around;
    margin-top: 8px;
}

.footer ul li {
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

.footer .list {
    text-align: center;
    font-size: 12px;
}

/*  Media queries    */

@media screen and (max-width: 1150px){
    body {
        background-color: brown;
    }
}
@media screen and (max-width: 1205px) {
    p {
        font-size: 13px;
    }
    
}
@media screen and (max-width: 1040px){
    p {
        font-size: 10px;
    }
   }

@media screen and (max-width: 950px){
    p {
        font-size: 9px;
    }
   }


@media screen and (max-width: 700px) {
    .logo {
        display: none;
    }
    p {
        font-size: 10px;
    }
    
    .nav-barmobile {
        display: block;
    }

    .nav-bardesktop {
        display: none;
    }

    p {
        font-size: 10px;
        text-align: center;
    }   

    .flexbox {
        display: block;
        justify-content: space-between;
    } 
    .nav-list {
        flex-direction: column;
        margin-top: 10px;
    }
    .nav-listindex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position: fixed;  
        margin-top: 10px;
    }
    .nav-item {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        font-weight: 600;
        margin-left: 10px;
        font-size: 12px;
    }
    
    h2 {
        font-size: 12px;
    }
    
    .lieux h2 {
        text-align: center;
        padding-top: 5px;
    }

    .container {
        display:block;
        text-align: center;
        margin: 10px;
    }
 
    .flex1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;

    } 

    .flex1 img {
        height: 120px;
    }

    .flex2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .flex2 img{
        height: 85px;
    }
    
    .flex3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .flex3 img {
        height: 120px
    }
    
    .flex4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .flex4 img {
        height: 110px;
    }

    .flexbox2 {
        background-color: rgb(232, 238, 238);
        margin: 20px;
        border-radius: 20px;
        
    }
    
    .flex2_1 {
        display: flex;
        justify-content: center;
        height: 114px;
        margin: 22px;
    }

    .flex2_2 {
        display: flex;
        justify-content: center;
        height: 140px;
        margin: 22px;
    }
    
    .flex2_3 {
        display: flex;
        justify-content: center;
        height: 160px;
        margin: 22px;
    }

    .rando1 h2 {
        margin-bottom: 0;
        margin-top: 40px;
    }

    .rando {
        display: block;
        margin-top: 50px;
    }
    
    .Flexbox_B {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 180px;
        margin-top: 20px;
        width: auto;
    }

    .flexboxA_1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .flexboxA_1 img {
        height: 107px;
    }

    .flexboxA_2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        width: auto;
        
    }
    .flexboxA_2 img {
        height: 100px;
    }
    
    .flexboxA_3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        width: auto;
        
    }
    .flexboxA_3 img {
        height: 146px;
    }
    
    .flexboxA_4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        width: auto; 
    }

    .flexboxA_4 img {
        height: 130px;
    }

    .flexbox_c1 {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .flexbox_c1 img {
        height: 150px;
    }
    
    .flexbox_c2 {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;     
    }

    .flexbox_c2 img {
        height: 145px;
        
    }
    
    .flexbox_c3 {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .flexbox_c3 img {
        height: 130px;
    }
    
    .flexbox_c4 {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .flexbox_c4 img {
        height: 130px;
    }

    .spécialités h2 {
        margin-bottom: 40px;
    }
    .spécialités p {
        text-align: center;
        margin-right: 20px;
        padding-right: 20px;
    }

}



